.col-centered{  
  float: none;
  margin: 0 auto;
}

.result { 
	
  height: 10%; 
  width: 100%; 
  overflow: hidden; 
  margin : 5px;
  padding: 0px;
}
.resultTitle { 
	
  height: 15%; 
  width: 80%; 
  overflow: hidden; 
  
}
.resultText { 
	
  height: 60px; 
  width: 100%; 
  overflow: hidden; 
  padding: 3px;
}
