.col-centered{  
  float: none;
  margin: 0 auto;
}

.result { 
	
  height: 10%; 
  width: 100%; 
  overflow: hidden; 
  margin : 0px;
  padding: 5px;
  border-color: #DFDFDF;
  border-style: solid;
  border-width: 1px;
}
.resultTitle { 
	
  height: 15%; 
  width: 80%; 
  overflow: hidden; 
  border-style : none;
  
}
.resultText { 
	
  height: 60px; 
  width: 100%; 
  overflow: hidden; 
  padding: 3px;
  border-style : none;
}
